@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div> Step 2 Changes Local  change </div>
<div> Step 2 Changes Local  change </div>
<div> Step 2 Changes Local  change </div>
<div> Step 2 Changes Local  change </div>
<div> Step 2 Changes Local  change </div>
